.header {
    padding: 1rem 0;
    min-width: 100%;
}

.navbarContainer {
    font-size: 1.2rem;

    & ul {
        list-style-type: none;

        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.link {
    text-decoration: none;
    color: black;
}

.cartIcon {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  margin-right: 1rem;
}
